@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

button{
    font-size: 18px;
    margin: 20px;
}
#acertijo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:500px;
    height: 200px;
    background-color:lightgray;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#botones{ 
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

#borrar{
    margin: 10px;
}